<div class="hero-section text-white text-center d-flex align-items-center justify-content-center">
  <div>
    <h1 class="display-4 fw-bold">Bienvenidos a Riviera Rescue</h1>
    <p class="lead">Amor, rehabilitación y segundas oportunidades para nuestros mejores amigos.</p>
    <a routerLink="/mascotas" class="btn btn-lg btn-primary mt-3">Ver mascotas en adopción</a>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center mb-5">
    <p class="fs-5">
      Riviera Rescue A.C. es una asociación sin fines de lucro ubicada en Puerto Morelos, Quintana Roo,
      dedicada al rescate, rehabilitación y adopción de perros en situación vulnerable.
      Funcionamos gracias al amor de nuestros voluntarios y al apoyo de personas como tú.
    </p>
  </div>
</div>

 <section class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="fw-bold">Nuestra misión y visión</h2>
        <p class="mt-3">
          Brindar refugio, cuidado veterinario y un ambiente amoroso a perros en situación de abandono,
            promoviendo la adopción responsable y la conciencia sobre el bienestar animal. 
        </p>
        <p>
          Ser un refugio ejemplar donde cada perro rescatado tenga la oportunidad de un hogar digno,
            reduciendo el abandono y fomentando una cultura de respeto y bienestar animal.
        </p>
      </div>

      <div class="col-md-6 text-center">
        <img 
          src="https://live.staticflickr.com/65535/54937035754_84f7597481.jpg"
          class="img-fluid rounded shadow"
          alt="Riviera Rescue"
        />
      </div>
    </div>
  </section>