<section class="bg-info text-start text-white py-3 d-flex justify-content-between p-3">
  <div>
    <h2 class="fw-bold">¿Listo para cambiar una vida?</h2>
    <p class="mt-2">Con tu apoyo se transforma todo!</p>
    <button class="btn btn-lg btn-light">Donar</button>
</div>

    <ul class="d-flex list-unstyled align-items-end gap-3 mb-0">
      <li>
        <a href="https://www.youtube.com/@rivierarescue5992">
        <img src="assets/youtube.png" alt="YouTube" width="32" height="32"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/rivierarescue/">
        <img src="assets/instagram.png" alt="Instagram" width="32" height="32"></a>
      </li>
      <li>
        <a href="https://www.facebook.com/rivierarescue">
        <img src="assets/facebook.png" alt="Facebook" width="32" height="32">
      </a>
      </li>
      <li>
        <a href="rivierarescue@gmail.com">
        <img src="assets/gmail.png" alt="Gmail" width="32" height="32">
        </a>
      </li>
    </ul>
  </section>