<div class="container mt-5">
  <h2 class="mb-4">Listos para adopción</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" *ngIf="mascotas.length > 0">
    <div class="col" *ngFor="let mascota of mascotas">
      <div class="card h-100 shadow-sm">
        <img [src]="mascota.foto" class="card-img-top" alt="Foto de {{ mascota.nombre }}" style="height: 350px; object-fit: cover;">
        <div class="card-body">
          <h3 class="card-title text-info">{{ mascota.nombre }}</h3>
          <div class="card-text">
            <p class="mb-1"><strong>Talla {{ mascota.talla }}</strong> </p>
            <p class="mb-1 text-muted">{{ mascota.sexo }}</p>
          </div>
        </div>
        <div class="card-footer bg-transparent">
          <div class="d-grid gap-2">
            <button
            type="button"
            class="btn btn-primary" 
            (click)="navigateToDetail(mascota.id)"
            >Saber más</button>

          <div class="d-grid gap-3 d-md-flex justify-content-md-center" *ngIf="isAuthenticated() && isAdmin()">
            <button class="btn btn-primary" (click)="editMascota(mascota)">Editar</button>
            <button class="btn btn-secondary" (click)="deleteMascota(mascota.id)">Eliminar</button>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="isAuthenticated() && isAdmin()">
  <h2>{{newMascota.id ? 'Actualizar mascota' : 'Registrar nueva mascota' }}</h2>
  <form (ngSubmit)="onSubmit()" #mascotaForm="ngForm">
    <div class="mb-3">
      <label for="foto" class="form-label">Foto</label>
      <input type="text" class="form-control" id="foto" required [(ngModel)]="newMascota.foto" name="foto">
    </div>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="newMascota.nombre" name="nombre">
    </div>
    <div class="mb-3">
      <label for="talla" class="form-label">Talla</label>
      <input type="text" class="form-control" id="talla" required [(ngModel)]="newMascota.talla" name="talla">
    </div>
    <div class="mb-3">
      <label for="edad" class="form-label">Edad</label>
      <input type="text" class="form-control" id="edad" required [(ngModel)]="newMascota.edad" name="edad">
    </div>
    <div class="mb-3">
      <label for="estado_salud" class="form-label">Estado de Salud</label>
      <input type="text" class="form-control" id="estado_salud" required [(ngModel)]="newMascota.estado_salud" name="estado_salud">
    </div>
    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" required [(ngModel)]="newMascota.descripcion" name="descripcion"></textarea>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <input type="text" class="form-control" id="status" required [(ngModel)]="newMascota.status" name="status">
    </div>
    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>
      <button type="submit" class="btn btn-primary">{{newMascota.id ? 'Actualizar' : 'Registrar'}}</button>
    </div>
  </form>
</div>